/* width */
::-webkit-scrollbar {
  width: 100vw;
}

/* Track */
::-webkit-scrollbar-track {
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  height: 100vh;
  background-position: center;
  background-image:fill;
  background-image: url("image_1.jpg");
  background-repeat: no-repeat;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-image: url("image.jpg");
  background-repeat: no-repeat;
}
